#include <zephyr/dt-bindings/input/input-event-codes.h>

/{

    sdl_dc {
        compatible = "zephyr,sdl-dc";
        height = <240>;
        width = <240>;
    };

};

/ {
	fstab {
		compatible = "zephyr,fstab";
		lvgl_lfs: lvgl_lfs {
			compatible = "zephyr,fstab,littlefs";
			mount-point = "/lvgl_lfs";
			partition = <&lvgl_lfs_partition>;
			automount;
			read-size = <1024>;
			prog-size = <512>;
			cache-size = <4096>;
			lookahead-size = <4096>;
			block-cycles = <512>;
		};
	};
};